/*---------------------
|      BACKGROUND      |
----------------------*/

#background {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.background-top, .background-bottom {
  display: flex;
}

/* --- TITLE OF THE SECTION --- */

.background-title {
  position: relative;
  width: fit-content;
  margin: 2.5rem auto;
  /* padding: 2rem 0 0 0; */
  font-size: 3rem;
  font-weight: 900;
  color: #383838;
}

.background-title::before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 8px;
  width: 70%;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(90deg, rgba(249,151,119,1) 0%, rgba(98,58,162,1) 100%);
}

/* --- TOP OF THE SECTION --- */

.background-top {
  height: 30%;
}

.top-left, .top-right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-left {
  flex: 1
}

.top-right {
  flex: 2;
  font-size: 18px;
}

/* .top-left img {
  width: 50%;
  height: 100%;
} */

/* --- BOTTOM OF THE SECTION --- */

.background-bottom {
  height: 50%;
  /* gap: 2; */
  justify-content: space-between;
  align-items: center;
}

.background-bottom img {
  width: 72px;
  height: 72px;
  transform: rotateZ(40deg);
}

.box {
  height: 80%;
  width: calc(70% / 4);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 #f99777;
  text-align: center;
  color: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-even {
  box-shadow: 0 0 8px 0 #623aa2;
}

.box p {
  margin: auto;
}