/*------------------
|      CONTACT      |
-------------------*/

#contact {
  height: calc(100vh / 2);
  padding: 2rem 3rem;
  background-image: linear-gradient( 360deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% );
}

.contact-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* --- TITLE --- */

.contact-title {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

.contact-title::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 70%;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
}