/*------------------
|      CONTACT      |
-------------------*/

#contact {
  height: calc(100vh / 1.5);
  padding: 2rem 3rem;
  background-image: linear-gradient( 360deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% );
}

.contact-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* --- TITLE --- */

.contact-title {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

.contact-title::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 70%;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
}

/* --- RUBRIQUES --- */

.contact-content {
  display: flex;
  padding: 4rem 0;
  justify-content: space-around;
}

.contact-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background: rgba(255,255,255,0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 1.5rem 1.5rem 1.5rem 3rem;
  color: #383838;
}

.contact-column::before {
  position: absolute;
  bottom: 40%;
  transform: rotateZ(-90deg);
  font-size: 3.2rem;
  font-weight: 900;
  color: white;
  opacity: 0.6;
  text-transform: uppercase;
}

.contact-column-left::before {
  content: 'contact';
  left: -37%;
}

.contact-column-mid::before {
  content: 'social';
  top: 40%;
  left: -32%;
}

.contact-column-right::before {
  content: 'documents';
  font-size: 2.4rem;
  top: 40%;
  left: -29.5%;
}

.contact-column-left-item {
  display: flex;
  color: #383838;
  align-items: center;
}

.contact-column-left-item img {
  width: 34px;
  height: 34px;
  margin-right: 8px;
}

.contact-column-left-item-content p {
  font-weight: 800;
  opacity: 0.9;
}

.contact-column-left-item-content a {
  color: #383838;
}

.contact-column p {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.contact-column span {
  margin-right: 8px;
}
