/*------------------
|      GENERAL      |
-------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

section {
  height: 100vh;
}

a {
  position: relative;
  text-decoration: none;
  color: white;
}

a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background-color: white;
}

a:hover::before {
  animation: linkHover 1s ease forwards;
}

@keyframes linkHover {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* COLORS */

/*  primary background -> #f99777
    secondary background -> #623aa2
*/