/*---------------
|      HOME      |
----------------*/

#home {
  background-image: linear-gradient( 360deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% );
}

.home-content {
  display: flex;
  height: calc(100% - 64px);
}

.home-left {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-right {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-left div {
  color: white;
}

.home-left h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 72px;
}

.home-left p {
  margin-top: 20px;
}

.svg-container {
  display: inline-block;
  position: relative;
}

.svg-background {
  position: absolute;
  top: -2px;
  left: -10px;
}

.svg-text {
  display: inline-block;
  position: relative;
  font-size: 3rem;
  margin-left: 18px;
  color: #383838;
}

.home-right img {
  width: 60%;
}