/*-----------------
|      NAVBAR      |
------------------*/

.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  padding: 12px 0 12px 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.3s ease;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 5rem;
  list-style: none;
}

.navbar-links li:last-child {
  margin-right: 2rem;
}

/* --- Hamburger --- */

.navbar-menu-btn {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: .85rem;
  right: 1rem;
  transition: all .3s ease;
}

.navbar-menu-btn img {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

/* --- Sticky --- */

.navbar.sticky {
  background-color: hsl(0, 0%, 12%);
  padding: .2rem 0;
}

.navbar.navbar.sticky > .navbar-left img {
  visibility: hidden;
}

.navbar.navbar.navbar.sticky > .navbar-menu-btn {
  top: .4rem;
}

.navbar.sticky span {
  background: linear-gradient(90deg, hsl(15, 92%, 72%) -2.1%, hsl(263, 47%, 53%) 90%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar.navbar.sticky a::before {
  content: none;
}

.navbar.sticky a:hover {
  transition: all 0.3s ease;
  background: linear-gradient(90deg, hsl(15, 92%, 82%) -2.1%, hsl(263, 47%, 63%) 90%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Responsive */

@media (max-width: 1366px) {
  .navbar-links {
    gap: 4rem;
  }
  .navbar-links li:last-child {
    margin-right: 2rem;
  }
}

@media (max-width: 1101px) {
  .navbar-links {
    gap: 2rem;
  }
  .navbar-links li:last-child {
    margin-right: 1rem;
  }
}

@media (max-width: 916px) {
  .navbar.sticky .navbar-left span {
    margin-left: -2rem;
  }
  .navbar-menu-btn {
    display: flex;
  }
  .navbar-links {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: hsl(0, 0%, 12%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    font-size: 1.5rem;
    transition: all .3s ease;
  }
  .navbar-links.active {
    left: 0;
  }
  .navbar-links li:last-child {
    margin-left: 1rem;
  }
  .navbar-links a:hover {
    transition: all 0.3s ease;
    background: linear-gradient(90deg, hsl(15, 92%, 82%) -2.1%, hsl(263, 47%, 63%) 90%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar-links a::before {
    content: none;
  } 
}