/*-----------------
|      NAVBAR      |
------------------*/

.navbar-container {
  position: sticky;
  top: 0;
  padding: 12px 0 12px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.8rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 5rem;
  list-style: none;
}

nav ul li:last-child {
  margin-right: 5rem;
}