/*-----------------
|      NAVBAR      |
------------------*/

.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  padding: 12px 0 12px 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.3s ease;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.8rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 5rem;
  list-style: none;
}

nav ul li:last-child {
  margin-right: 5rem;
}

/* --- Hamburger --- */

.navbar-menu-btn {
  display: none;
  margin-right: 1rem;
}

.navbar-menu-btn img {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

/* --- Sticky --- */

.navbar.sticky {
  background-color: hsl(0, 0%, 12%);
  padding: .2rem 0;
}

.navbar.navbar.sticky > .navbar-left img {
  visibility: hidden;
}

.navbar.sticky span {
  background: linear-gradient(90deg, hsl(15, 92%, 72%) -2.1%, hsl(263, 47%, 53%) 90%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar.navbar.sticky a::before {
  content: none;
}

.navbar.sticky a:hover {
  transition: all 0.3s ease;
  background: linear-gradient(90deg, hsl(15, 92%, 82%) -2.1%, hsl(263, 47%, 63%) 90%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Responsive */

@media (max-width: 1366px) {
  nav ul {
    gap: 4rem;
  }
  nav ul li:last-child {
    margin-right: 2rem;
  }
}

@media (max-width: 1101px) {
  nav ul {
    gap: 2rem;
  }
  nav ul li:last-child {
    margin-right: 1rem;
  }
}

@media (max-width: 916px) {
  .navbar.sticky .navbar-left span {
    margin-left: -2rem;
  }
  .navbar ul {
    display: none;
  }
  .navbar-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 416px) {

}