/*-----------------
|      SKILLS      |
------------------*/

#skills {
  padding: 0 3rem;
  background-image: linear-gradient( 358.4deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% );
}

.skills-container {
  /* height: 82%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* --- TITLE --- */

.skills-title {
  position: relative;
  width: fit-content;
  margin: 2.5rem auto;
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

.skills-title::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 70%;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  /* background-image: linear-gradient(90deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90%); */
}

/* --- TOP --- */

.skills-top {
  display: flex;
  padding: 2rem;
  background: rgba(255,255,255,0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255,255,255,0.25); */
  border-radius: 15px;
  color: #383838;
  /* color: white; */
}

.skills-top-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-right: 1px solid #383838;
}

.skills-top-left-item {
  display: flex;
}

.skills-top-left-item img {
  margin-right: 1rem;
}

.skills-top-left-item h2 {
  font-weight: 800;
}

.skills-top-right {
  width: 50%;
}

.skills-top-right-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.skills-top-right h2 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 2rem;
}

.skills-top-right-item {
  width: calc((100% / 3) - (3 * 1rem));
}

.skills-top-right-item div {
  display: flex;
  align-items: center;
}

.skills-top-right-item h3 {
  position: relative;
  z-index: -1;
  padding: 4px 18px 4px 36px;
  margin-left: -26px;
  background: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid;
}

.skills-top-right img {
  position: relative;
  width: 60px;
  height: 60px;
}

.skills-top-right-item .react {
  border-color: #222222;
}

.skills-top-right-item .typescript {
  border-color: #0078cf;
}

.skills-top-right-item .sass {
  border-color: #ededed;
}

.skills-top-right-item .javascript {
  border-color: #f0db4f;
}

.skills-top-right-item .html {
  border-color: #e44d26;
}

.skills-top-right-item .css {
  border-color: #379ad6;
} 

/* --- BOTTOM --- */

.skills-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.skills-bottom-left {
  background-color: #383838;
  border-radius: 20px;
  color: white;
  padding: 2rem;
  width: calc(60% - 1rem);
}

.skills-bottom-left h2 {
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
}

.skills-bottom-left-list {
  display: flex;
}

.skills-bottom-left-item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem;
  color: white;
  background-color: #383838;
  border-radius: 10px;
  box-shadow: -1rem 0 2rem black;
  width: 100px;
  overflow: hidden;
}

.skills-bottom-left-item img {
  width: 72px;
  height: 72px;
  margin-right: 16px;
}

.skills-bottom-left-item p {
  font-weight: 700;
  font-size: 20px;
  margin-right: 1rem;
}

.skills-bottom-left-item:hover {
  animation: showItemLabel 1s ease forwards;
}

.skills-bottom-right {
  width: calc(40% - 1rem);
  padding: 2rem;
  background: rgba(255,255,255,0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  color: #383838;
}

.skills-bottom-right h2 {
  font-weight: 800;
  color: #383838;
  text-align: center;
}

.skills-bottom-right div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* justify-content: space-evenly; */
  align-items: center;
  padding-top: 2rem;
}

.skills-bottom-right h4 {
  padding: 8px 16px;
  text-align: center;
  background: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  /* width: calc(100% / 4); */
}

/* --- ANIMATIONS --- */

@keyframes showItemLabel {
  0% {
    width: 100px;
  }
  100% {
    width: 230px;
  }
}