/*-----------------
|      SKILLS      |
------------------*/

#skills {
  padding: 0 3rem;
  background-image: linear-gradient( 358.4deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% );
}

.skills-title {
  position: relative;
  width: fit-content;
  margin: 2.5rem auto;
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

.skills-title::before {
  content: '';
  position: absolute;
  /* z-index: -1; */
  height: 8px;
  width: 70%;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  background: white;
}